* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
}

body {
    background-color: black;
    overflow-x: hidden;
}

::selection {
    color: black;
    background-color: rgb(228, 4, 4);
}

.background {
    background-image: url(bg.png);
    width: 100vw;
    height: 50vw;
    background-position: center;
}

.opacity {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 50vw;
    position: absolute;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    gap: 22px;
    max-width: 63vw;
    margin: auto;
    height: 90px;
    align-items: center;
}

.net-logo {
    width: 160px;
    z-index: 10;
}

.button {
    z-index: 10;
    display: flex;
}

.btn2:hover,
.btn3:hover {
    cursor: pointer;
    background-color: rgb(192, 7, 7);
}

.opacity {
    display: flex;
    justify-content: center;
    align-items: center;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 785px;
    margin: 2.5vw auto;
    line-height: 20px;
    padding: 0 65px;
    flex-wrap: nowrap;
    z-index: 10;
    text-align: center;
}

.front> :first-child {
    justify-content: center;
    text-align: center;
    display: flex;
    font-weight: 900;
    font-size: 60px;
    line-height: 70px;
    position: relative;
    top: -20px;
}

.front> :nth-child(2) {
    font-weight: 500;
    font-size: 21px;
}

.front> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
}

.search {
    display: flex;
    margin-top: 50px;
    gap: 10px;
    padding-bottom: 50px;
}

.button {
    display: flex;
    gap: 10px;
}

.btn1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
}

.btn2 {
    color: white;
    background-color: red;
    padding: 5px 15px;
    border: none;
    border-radius: 3px;
    font-weight: 600;

}

.search input {
    background-color: rgba(0, 0, 0, 0.4);
    padding-left: 15px;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-right: 250px;
    border: 1px solid rgba(255, 255, 255, 0.329);
    border-radius: 5px;
    font-weight: 600;
    z-index: 10;
    font-weight: 600;

}

.btn3 {
    color: white;
    background-color: rgb(221, 13, 13);
    padding: 9px 35px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    z-index: 10;
    font-size: 24px;
    font-weight: 700;

}

.seperation {
    background-color: rgb(46, 44, 44, 0.8);
    /* background-color: rgba(73, 3, 3, 0.8); */
    height: 8px;
    z-index: 10;
}

.parent {
    display: flex;
    flex-wrap: nowrap;
    max-width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.parent2 {
    column-gap: 00px;
}

.content {
    display: flex;
    flex-direction: column;
}

.content h1 {
    font-size: 30px;
}

.content div {
    font-size: 20px;
}


.laptop {
    display: flex;
    flex-direction: column;
}

.laptop video {
    width: 375px;
    position: relative;
    top: 190px;
    left: 67px;
}

.laptop img {
    width: 500px;
    position: relative;
    top: -100px;
}

.laptop .stranger {
    width: 330px;
    top: 0;
    left: -120px;
    margin: 50px;
}

.faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 10px;
}

.batman {
    width: 60%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}


.dabba {
    width: 58%;
    height: 35%;
    background-color: rgb(46, 45, 45);
    display: flex;
    justify-content: space-between;
    padding: 28px 30px;
    font-size: 28px;
    margin: 0 20px;
}

svg {
    filter: invert(1);
}

.end-time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 25px;
}


.end-time div {
    font-size: 20px;
    max-width: 670px;
    margin: auto;
}

.khatam {
    max-width: 80%;
    margin: 50px auto;
    color: rgba(255, 255, 255, 0.7);
}

ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80%;
    margin: 50px auto;
    list-style: none;
    gap: 20px;
}

ol li a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;

}

footer {
    margin-bottom: 3000px;
}

.khatam div {
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin: 50px 10%;

}

.btn2 a {
    text-decoration: none;
    color: white;
}

.btn1 a {
    text-decoration: none;
}



.span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

span a {
    color: rgb(68, 142, 244);

}

a {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

a:active {
    color: red;
}

.dabba:hover {
    background-color: rgb(58, 57, 57);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.zero {
    padding: 4vw 0;
    max-width: 65vw;
    margin: auto;
    padding-bottom: -3vw;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie :first-child {
    font-size: 32px;
    color: rgb(255, 255, 255);
    font-weight: 800;

}

.cool {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 63vw;
}

.films {
    display: flex;
    overflow: auto;
    scrollbar-width: none;
    align-items: center;
    gap: 1vw;
    height: 19vw;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(117, 115, 115, 0.253);
    width: 2vw;
    height: 6vw;
    border: none;
    border-radius: 7px;
    font-size: 23px;
    font-weight: 700;
    position: relative;
    filter: invert(1);
}

.bar.hidden {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-20px);
    transition: all 0.3s ease;
}

.bar:hover {
    cursor: pointer;
    background-color: #0c0c0c71;
}

.bar svg {
    filter: invert(100%);
    color: white;
}

.numbers {
    position: absolute;
    left: -10px;
    bottom: -25px;
    font-size: 6vw;
    color: black;
    font-weight: 800;
    text-shadow:
        -2px -2px 0 white,
        2px -2px 0 white,
        -2px 2px 0 white,
        2px 2px 0 white;
}

.thumbnail {
    position: relative;
    width: 12vw;
    height: 17vw;
    border: none;
    border-radius: 10px;
}

.films a {
    padding: 0;
    position: relative;
}

form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.arrow {
    filter: invert(1);
}

@media screen and (max-width:1150px) {


    .background {
        height: 85vh;
    }

    .opacity {
        height: 85vh;
    }

    .front {
        margin: -80px auto;
        padding: 0 40px;
        position: relative;
        top: 1vw;
    }

    .front> :first-child {
        font-weight: 700;
        font-size: 45px;
        line-height: 60px;
        max-width: 1000px;
    }

    .front> :nth-child(2) {
        font-weight: 500;
        font-size: 18px;
    }

    .front> :nth-child(3) {
        font-weight: 400;
        font-size: 16px;
    }

    .search input {
        padding-left: 10px;
        padding-bottom: 10px;
        padding-top: 10px;
        padding-right: 100px;
        font-weight: 300;
        font-size: 14px;

    }

    .btn3 {
        padding: 10px 25px;
        font-weight: 600;
        font-size: 16px;
        font-weight: 700;

    }


    .laptop video {
        width: 255px;
        position: relative;
        top: 100px;
        left: 47px;
    }

    .laptop img {
        width: 350px;
        position: relative;
        top: -100px;
    }

    .laptop .stranger {
        width: 250px;
        left: -120px;
        object-position: center center;
    }

    .content h1 {
        font-size: 24px;
    }

    .content div {
        font-size: 15px;
    }

    .dabba {
        width: 80%;
        justify-content: space-between;
        padding: 30px 25px;
        font-size: 22px;
    }

    svg {
        filter: invert(1);
        width: 30px;
        height: 30px;
    }

    .batman {
        font-size: 30px;
        padding-top: 35px;
        padding-bottom: 15px;
    }



    .end-time div {
        font-size: 18px;
        max-width: 500px;
        margin: auto;
    }


    ol {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 80%;
        margin: 50px auto;
        gap: 20px;
    }

    .zero {
        padding: 4vw 0;
        max-width: 75vw;
        margin: auto;
        padding-bottom: -3vw;
    }

    .cool {
        gap: 10px;
        width: 75vw;
    }

    .thumbnail {
        width: 15vw;
        height: 19vw;
    }

    .films {
        height: 25vw;
        padding: 0 10px;
    }

    .bar {
        width: 30px;
        height: 120px;
        border-radius: 7px;
        font-size: 23px;
        font-weight: 700;
    }

    .movie:first-child {
        font-size: 30px;
    }

}

@media screen and (max-width:800px) {


    .background {
        height: 80vh;
    }

    .opacity {
        height: 80%;
    }


    .net-logo {
        width: 142px;
    }

    .seperation {
        height: 4px;
    }

    .front {
        margin: -140px auto;
        padding: 0 20px;
        max-width: 90vw;
        line-height: 20px;
    }

    .front> :first-child {
        font-weight: 700;
        font-size: 35px;
        line-height: 50px;
        max-width: 1000px;
    }

    .button {
        flex-direction: column;
    }

    .front> :nth-child(2) {
        font-weight: 500;
        font-size: 16px;
    }

    .front> :nth-child(3) {
        font-weight: 400;
        font-size: 14px;
    }

    .search {
        flex-direction: column;
        gap: 10px;
    }

    .btn3 {
        padding: 10px 15px;
        font-weight: 600;
        font-size: 16px;
        font-weight: 700;

    }

    .parent {
        flex-direction: column;
        padding: 20px;
    }

    .laptop video {
        width: 240px;
        position: relative;
        top: 88px;
        left: 43px;
    }

    .laptop img {
        width: 330px;
        position: relative;
        top: -100px;
    }

    .laptop .stranger {
        width: 235px;
        left: 0px;
        top: -50;
    }

    .content h1 {
        font-size: 24px;
    }

    .content div {
        font-size: 14px;
    }

    .dabba {
        width: 70%;
        justify-content: space-between;
        padding: 26px 21px;
        font-size: 19px;
        height: 10%;
    }

    svg {
        filter: invert(1);
        width: 25px;
        height: 25px;
        position: relative;
        cursor: pointer;
    }

    .batman {
        font-size: 23.4px;
        padding-top: 25px;
        padding-bottom: 8px;
    }



    .end-time div {
        font-size: 17px;
        max-width: 60%;
        margin: auto;
    }

    ol {
        grid-template-columns: 1fr 1fr;
        max-width: 70%;
        margin: 50px auto;
        gap: 20px;
    }

    .zero {
        padding: 4vw 0;
        max-width: 90vw;
        margin: auto;
        padding-bottom: -3vw;
    }

    .cool {
        gap: 10px;
        width: 90vw;
    }

    .thumbnail {
        width: 120px;
        height: 200px;
    }

    .films {
        height: auto;
        padding: 0 10px;
        gap: 13px;
        padding: 0;
    }

    .movie :first-child {
        font-size: 25px;
    }

    .movie {
        gap: 10px;
    }

    .numbers {
        font-size: 50px;
        top: -80px;
    }

    .bar {
        width: 25px;
        height: 128px;
        border-radius: 7px;
        font-size: 23px;
        font-weight: 700;
    }

    .btn1 {
        padding: 5px 30px;
    }

}

@media screen and (max-width:450px) {

    .background {
        height: 75vh;
    }

    .opacity {
        height: 75%;
    }

    .stranger {
        width: 200px;
    }

    ol {
        grid-template-columns: 1fr;
        max-width: 70%;
        margin: 50px auto;
        gap: 20px;
    }

    .abu a {
        font-size: 15px;
    }


    a {
        font-size: 13px;
    }

    .khatam,
    .abu {
        max-width: 95%;
    }

    ol {
        max-width: 85%;
    }

    .navbar {
        max-width: 80vw;
    }


}

@media screen and (max-width:376px) {
    .front {
        margin: -190px auto;
        line-height: 20px;
    }

    .front> :first-child {
        font-weight: 700;
        font-size: 27px;
        line-height: 40px;
    }

    .front> :nth-child(2) {
        font-weight: 500;
        font-size: 16px;
    }

    .front> :nth-child(3) {
        font-weight: 400;
        font-size: 13px;
    }

    .stranger {
        width: 200px;
    }

    .laptop video {
        width: 175px;
        position: relative;
        top: 72px;
        left: 25px;
    }

    .laptop img {
        width: 225px;
        position: relative;
        top: -60px;
    }

    .laptop .stranger {
        width: 140px;
        top: 0;
        left: -10px;
        margin: 50px;
    }

    .btn1 {
        padding: 1vw 1vw;
    }

    .net-logo {
        width: 40vw;
    }

    .search input {
        padding-left: 2vw;
        padding-bottom: 3vw;
        padding-top: 3vw;
        padding-right: 9vw;
        font-weight: 600;
        font-weight: 600;

    }

    .btn3 {
        background-color: rgb(221, 13, 13);
        padding: 2vw;
        font-size: 18px;
        font-weight: 700;
    }


}

@media screen and (max-width:200px) {
    body {
        overflow-x: hidden;
    }
}

@media screen and (max-height:750px) {
    .front {
        position: relative;
        top: 20%;
        max-width: 785px;
        margin: 20vw auto;
        line-height: 30px;
        flex-wrap: nowrap;
        z-index: 10;
        font-size: small;
    }

    .front> :first-child {
        font-weight: 600;
        font-size: 26px;
        line-height: 50px;
    }

    .front> :nth-child(2) {
        font-weight: 500;
        font-size: 15px;
    }

    .front> :nth-child(3) {
        font-weight: 400;
        font-size: 12px;
    }
}